# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*

# Vue.js
dist/
*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# JetBrains Rider
**/.idea/
*.sln.iml
*.sln.ide

# .Net Core
**/bin/
**/obj/
*.dll